<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>  
          {% if loggedIn %}
            <a class="nav-link" href="{{ url_for('xss') }}">XSS Prevention</a>
            <a class="nav-link" href="{{ url_for('injection') }}">SQL Injection</a>
          {% endif %}
          {% if not loggedIn %}
            <a class="nav-link" href="{{ url_for('login') }}">Login</a> 
            <a class="nav-link" href="{{ url_for('register') }}">Register</a> 
          {% endif %}
        </div>
      </nav>
    </header>
    <main>
       <h1>SQL Injection Examples</h1>
       <h2>Bad Example</h2>
       <form action="/injection_bad" method="POST">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
       </form>
       <h2>Good Example</h2>
       <form action="/injection_good" method="POST">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
       </form>
    </main>
    <footer>
      {% if loggedIn %}
      <form method="post">
        <button id="logout" type="submit">Logout</button>
      </form>
      {% endif %}
    </footer>
  </body>
</html>
