<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
        <nav>
            <div class="nav">
                <a href="{{ url_for('home') }}">Home</a>  
                {% if not loggedIn %}
                  <a href="{{ url_for('login') }}">Login</a> 
                  <a href="{{ url_for('register') }}">Register</a> 
      
                {% else %}
                  <form method="post">
                    <button type="submit">Logout</button>
                  </form>
                {% endif %}
      
              </div>
          </nav>
    </header>
    <main>
        <form id="account-form" action="{{ url_for('login') }}" method="POST">
            <h2>Login</h2>
            <span class="error">{{message}}</span>
    
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" value="{{email or ''}}" id="email" name="email" required>
            </div>
        
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
        
        
            <button type="submit" class="submit-btn">Submit</button>
            <a style="text-align: center; display: block;" href="{{url_for('register')}}">Don't have an account? Click here.</a>
            <p>Try This:</p> 
            <p>Email: testuser@example.com</p>
            <p>Password: superpassword!2B</p>

        </form>
    </main>
    <footer>
        {% if loggedIn %}
        <form method="post">
          <button id="logout" type="submit">Logout</button>
        </form>
        {% endif %}
      </footer>
  </body>
</html>
