<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav">
          <a href="{{ url_for('home') }}">Home</a>  
          <a href="{{ url_for('xss') }}">XSS Prevention</a>
          <a href="{{ url_for('injection') }}">SQL Injection</a>
          {% if not loggedIn %}
            <a href="{{ url_for('login') }}">Login</a> 
            <a href="{{ url_for('register') }}">Register</a> 
          {% endif %}

        </div>
      </nav>
    </header>
    <main>
      <h1>XSS Examples</h1>
      <h2>Bad Example</h2>
      <form action="/xss_bad" method="POST">
        <label for="comment">Enter Comment:</label>
        <input type="text" id="comment" name="comment">
        <button type="submit">Submit</button>
      </form>
      <h2>Good Example</h2>
      <form action="/xss_good" method="POST">
        <label for="comment">Enter Comment:</label>
        <input type="text" id="comment" name="comment">
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>
      {% if loggedIn %}
      <form method="post">
        <button id="logout" type="submit">Logout</button>
      </form>
      {% endif %}
    </footer>
  </body>
</html>
