<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>  
          {% if loggedIn %}
            <a class="nav-link" href="{{ url_for('xss') }}">XSS Prevention</a>
            <a class="nav-link" href="{{ url_for('injection') }}">SQL Injection</a>
          {% endif %}
          {% if not loggedIn %}
            <a class="nav-link" href="{{ url_for('login') }}">Login</a> 
            <a class="nav-link" href="{{ url_for('register') }}">Register</a> 
          {% endif %}
        </div>
      </nav>
      
    </header>
    <main id="xss-showcase">
      {% if loggedIn %}
        <h3 class="header">XSS Showcase</h3>
        <p class="description">
          This is the page for showcasing prevention methods for XSS attacks.
        </p>
        <div class="example-section">
          <p class="example-intro">
            Below is an example of text input vulnerable to an XSS attack:
          </p>
          <form class="example-form vulnerable-form" action="/xss_bad" method="POST">
            <label class="form-label" for="bad-comment">Enter Comment:</label>
            <input class="form-input" type="text" id="bad-comment" name="comment">
            <button class="form-button" type="submit">Submit</button>
            <p class="try-this">Try This: &lt;script&gt;alert(&#39;XSS Vulnerability!&#39;);&lt;/script&gt;</p>
          </form>
          <p class="example-intro">
            Below is an example of text input that is sanitized and not vulnerable to an XSS attack.
          </p>
          <form class="example-form safe-form" action="/xss_good" method="POST">
            <label class="form-label" for="good-comment">Enter Comment:</label>
            <input class="form-input" type="text" id="good-comment" name="comment">
            <button class="form-button" type="submit">Submit</button>
            {% if message %}
              <p class="user-message">This is what you tried to attack us with: {{ message }}</p>
            {% endif %}
          </form>
        </div>
      {% else %}
        <span class="not-authorized">Not Authorized</span>
      {% endif %}
    </main>
    
    <footer>
      {% if loggedIn %}
      <form method="post">
        <button id="logout" type="submit">Logout</button>
      </form>
      {% endif %}
    </footer>
  </body>
</html>
