<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav">
          <a href="{{ url_for('home') }}">Home</a>  
          <a href="{{ url_for('xss') }}">XSS Prevention</a>
          <a href="{{ url_for('injection') }}">SQL Injection</a>
          {% if not loggedIn %}
            <a href="{{ url_for('login') }}">Login</a> 
            <a href="{{ url_for('register') }}">Register</a> 
          {% endif %}

        </div>
      </nav>
    </header>
    <main>
      <h3>{% if loggedIn %}
        Welcome {{message}}
        {% endif %}
       </h3>
       <h4>Random Text</h4>
       <p>
        This is the page for showcasing prevention methods for XSS attacks.
       </p>
       <div>
        <p>
            Below is an example of text input vulnerable to a XSS attack:
        </p>
        <form action="/xss_bad" method="POST">
            <label for="comment">Enter Comment:</label>
            <input type="text" id="comment" name="comment">
            <button type="submit">Submit</button>
        </form>
        <p>
            Below is an example of text input that is sanitized and not vulnerable to an XSS attack.
        </p>
        <form action="/xss_good" method="POST">
            <label for="comment">Enter Comment:</label>
            <input type="text" id="comment" name="comment">
            <button type="submit">Submit</button>
        </form>
       </div>
    </main>
    <footer>
      {% if loggedIn %}
      <form method="post">
        <button id="logout" type="submit">Logout</button>
      </form>
      {% endif %}
    </footer>
  </body>
</html>
